:root {
    font-family: Arial, Helvetica, sans-serif;
}

tr:nth-child(2n) {
    background-color: aqua;
}

tr:nth-child(2n - 1) {
    background-color: red;
}

.hidden {
    display: none;
}

.data-list * {
    height: 50px;
}

header {
    text-align: center;
}

.data-list {
    transition-duration: 10ms;
}

.animateBox {
    display: block;
    animation-iteration-count: 1;
    animation-name: boxAnimation;
    animation-play-state: running;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
}

span button, form button {
    color: black;
    background-color: rgb(127, 223, 140);
    padding: 10px 20px;
    border-radius: 6px;
}
#creditButton {
    color: black;
    position: fixed;
    right: 25px;
    top: 150px;
    background-color: rgb(127, 223, 140);
    padding: 10px 20px;
    border-radius: 6px;
}

#creditPanel {
    display: none;
    position: absolute;
    right: 120px;
    top: 50px;
    background-color: rgba(189, 109, 109, 0.842);
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    height: 200px;
}

@keyframes boxAnimation {
    0% {
        opacity: 0;
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 920px) {}